<th scope="row"><%= list.id %></th>
<td><%= list.title %></td>
<td>
  <%= link_to "View", list,
    class: 'btn btn-primary list-link',
    remote: true
  %>
</td>
<td>
  <%= button_to "Delete",
       list_url(list),
       class: 'btn btn-danger delete-list__btn',
       method: 'delete',
       data: { confirm: 'Are you sure you want to remove?'},
       remote: true
  %>
</td>
