<h1 class="display-4 list-heading">Todo Lists</h1>

<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">

    <%= render partial: 'lists-table', locals: { lists: @lists } %>

    <div id="newTask">

      <%= link_to "Create List", new_list_path, class: 'create-list btn btn-primary lg', remote: true %>

    </div>
</div>
</div>
