<h1 class="display-4 list-heading">Todo Lists</h1>

<div class="row">
  <div class="col-sm-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
    <table class="table table-dark list-table">
      <thead>
        <tr>
          <th scope="col">Index</th>
          <th scope="col">List Name</th>
          <th scope="col">List Link</th>
        </tr>
      </thead>
      <tbody>
        <% @lists.each.with_index(1) do |list,i| %>
          <tr>
            <th scope="row"><%= i %></th>
            <td><%= list.title %></td>
            <td><%= link_to "View", list, class: 'list-link' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <div id="newTask">
      <%= link_to "Create List", new_list_path, class: 'create-list btn btn-primary lg', remote: true %>
    </div>
  </div>
</div>
