<h1 class="display-4 list-heading"><%= @list.title %></h1>

<div class="row">
  <div class="col-6 offset-3">
    <table class="table table-dark list-table">
      <thead>
        <tr>
          <th scope="col">Completed</th>
          <th scope="col">List Name</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <% @list.list_items.each do |item| %>

          <%= render partial: 'list_items/list-item', locals: { item: item } %>

        <% end %>
      </tbody>
    </table>
    <div id="newItemContainer">

    </div>
    <%= link_to "Add Item",
      new_list_list_item_path(@list),
      class: 'btn btn-primary new-item',
      remote: true %>
  </div>
</div>
