<tr>
  <td scope="row">
    <input type="checkbox" name="list[completed]" value="true" <%= 'checked' if item.completed %>>
  </td>
  <td><%= item.name %></td>
  <td><button class="btn btn-danger">Delete</button></td>
</tr>
